asgiref==3.8.1
certifi==2024.7.4
charset-normalizer==3.3.2
dj-database-url==2.2.0
Django==5.0.7
environs==11.0.0
gunicorn==22.0.0
idna==3.7
marshmallow==3.21.3
packaging==24.1
psycopg==3.2.1
psycopg2==2.9.9
psycopg2-binary==2.9.9
python-dotenv==1.0.1
python-http-client==3.3.7
requests==2.32.3
sendgrid==6.11.0
sqlparse==0.5.1
starkbank-ecdsa==2.2.0
typing_extensions==4.12.2
urllib3==2.2.2
whitenoise==6.7.0
