<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.typekit.net/zxz1xaq.css">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <title>{% block title %}{% endblock title %}</title>
</head>
<body>
  <nav class="flex">
    <img src="{% static 'img/logo.png' %}" alt="logo" class="logo">
    <ul class="flex">
      {% block action %}{% endblock action %}
    </ul>
  </nav>
  {% block content %}{% endblock content %}
</body>
</html>
