{% extends 'base.html' %}

{% block title %}Contact{% endblock title %}

{% block action %}
  <a href="{% url 'index' %}">
    <li>Info</li>
  </a>
  <a href="{% url 'work' %}">
    <li>Work</li>
  </a>
  <a href="{% url 'contact' %}">
    <li class="selected">Contact</li>
  </a>
{% endblock action %}

{% block content %}
<section class="contact flex">
  <h1 class="work-title">Contact</h1>
  <form class="flex mail-form" action="{% url 'contact' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Send">
  </form>
  <div class="or-space flex">
    <div class="line"></div>
    <span>or</span>
    <div class="line"></div>
  </div>

  <p>Write me a message on one of my social media accounts</p>

  {% include 'other/social.html' %}

</section>
{% endblock content%}
