{% extends 'base.html' %}

{% block title %}Contact{% endblock title %}

{% block action %}
  <a href="{% url 'index' %}">
    <li>Info</li>
  </a>
  <a href="{% url 'work' %}">
    <li>Work</li>
  </a>
  <a href="{% url 'contact' %}">
    <li class="selected">Contact</li>
  </a>
{% endblock action %}

{% block content %}
<section class="contact flex">
  <h1 class="work-title">Contact</h1>
  <form class="mail-form flex">
    <div class="mail-input flex">
      <label for="email">Email</label>
      <input type="email" placeholder="Your email :)" id="email">
    </div>

    <div class="mail-input flex">
      <label for="message">Message</label>
      <textarea placeholder="Your message here :)" id="message"></textarea>
    </div>

    <button type="submit">Send</button>
  </form>
   <div class="or-space flex">
    <div class="line"></div>
    <span>or</span>
    <div class="line"></div>
  </div>

  <p>Write me a message on one of my social media accounts</p>

  {% include 'other/social.html' %}

</section>
{% endblock content%}
